<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Java in der Praxis', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Java in der Praxis</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous"
              th:remove="all">
        <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css" th:remove="all">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                th:src="@{/js/bootstrap.min.js}"></script>
        <link href='https://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet'>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation"
         style="border-right: 1px solid #aaaaaa;">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
        <ul>
            <li>
                <a th:href="@{/rheinjug2/student/events}" href="/home"> Veranstaltungsübersicht </a>
            </li>
            <li>
                <a th:href="@{/rheinjug2/student/visitedevents}" href="/rheinjug2/student/personal">
                    Meine Veranstaltungen</a>
            </li>
            <li class="active">
                <a th:href="@{/rheinjug2/student/creditpoints}">CP beantragen</a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent" style="font-family: Raleway, sans-serif;">
    <!-- Restlichen Inhalt hier einfügen! -->
    <h1 class="text-center text-secondary pt-4 font-weight-bold"
        style="text-shadow: 10px 2px 20px white; font-size: 38px; color: #303535;"> Credit Points beantragen </h1>
    <div class="container bg-light rounded shadow-lg text-secondary"
         style="padding: 10px; margin-top: 40px; margin-bottom: 40px">
        <form action="/rheinjug2/student/creditpoints/certificateform" method="POST" class="form-horizontal pt-3"
              th:object="${certificateForm}">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <div class="form-group row">
                <div class="col-md-5 text-right pt-1">
                    <label for="gender" class="control-label" style="font-size: 18px;">Anrede</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control border border-dark" id="gender" name="gender"
                            th:field="*{gender}" required>
                        <option value="" th:disabled="true" th:selected="true"> Wählen</option>
                        <option th:text="Herr" th:value="male">m</option>
                        <option th:text="Frau" th:value="female">w</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-5 text-right pt-1">
                    <label for="matNr" class="control-label" style="font-size: 18px;">Matrikelnummer</label>
                </div>
                <div class="col-md-3">
                    <input class="form-control border border-dark" id="matNr" name="Matrikelnummer"
                           th:field="*{matNr}" type="number" min="1000000" max="9999999"
                           required>
                </div>
            </div>
            <div class="form-group row text-center pt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-outline-primary" id="submit">Senden <img
                            src="../../static/icons/send.png"
                            th:src="@{/icons/send.png}"
                            style="width: 29px;height: 26px; margin-left: 5px;">
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>