<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Name des Subsystems', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Name des Subsystems</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <link rel="stylesheet" type="text/css" href="main.css">
    </th:block>

</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
    </nav>
</header>
<main th:fragment="bodycontent">
    <!-- Restlichen Inhalt hier einfügen! -->

    <table class="veranstaltungen" style="table-layout:fixed" width="100%">
        <h2>Belegte Veranstaltungen</h2>
        <thead>
            <tr>
                <th width="20%">Titel</th>
                <th width="20%">Veranstaltungstyp </th>
                <th width="10%">Ergebnis</th>
                <th width="25%">Abgabe der Zusammenfassung</th>
                <th width="25%">Datum der Veranstaltung</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <div>
                    <td>Titel1</td>
                    <td>Entwickelbar</td>
                    <td>Typ1</td>
                    <td>Veranstaltung steht noch an</td>
                    <td>22.10.2020</td>
                </div>
            </tr>
        </tbody>
    </table>

    <table class="scheine" style="table-layout:fixed" width="100%">
        <h2>Scheine</h2>
        <thead>
        <tr>
            <th width="20%">Scheinname</th> <!-- EVTL. abhängig vom Namen -->
            <th width="55%">Zugehörige Meetups</th>
            <th width="25%">Datum der Scheinvergabe</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Titel1</td>
            <td>
                <ul>
                    <li >test1</li>
                    <li>test2</li>
                </ul>
            </td>
            <td>22.10.2020</td>
        </tr>
        </tbody>
    </table>
    <br/>

    <a class="button" >Ansicht bestandener Veranstaltungen </a>
</main>
</body>
</html>